* {
  padding: 0%;
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.bagi {
  height: 45px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border: 40px;
  position: -webkit-sticky;
}
.bagi h1 {
  height: 35px;
}

.para {
  text-align: justify;
  background-color: rgb(204, 202, 202);
  color: rgb(0, 0, 0);
}
.para a {
  color: rgb(0, 0, 0);
}

.para a:hover {
  color: rgb(255, 0, 0);
}

/* .container {
  width: 80%;
  margin: auto;
  overflow: visible;
} */

/* .column {
  float: left;
  width: 100%;
  padding: 5px;
}

/* Clearfix (clear floats) */
/* .row::after {
  content: "";
  clear: both;
  display: inline-table;
} */

/* .image .i1 {
  display: inline;
  size: auto;
} */

.i1 {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.ross {
  height: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
}

#list li a {
  color: black;
}

#list li a:hover {
  color: rgb(255, 0, 0);
}

footer {
  background-color: black;
  color: white;
}

.bus {
  padding-left: 10%;
  padding-top: 2%;
}

.car a {
  color: white;
  float: right;
  padding-inline-end: 10%;
}

.scooter {
  padding-inline-start: 10%;
}

.car li a:hover {
  color: rgb(255, 0, 0);
}
